.al{
    display:flex;
    flex-direction: row;
    width: 204px;
    height: 40px;
    padding: 16px 0 14px;
    align-items: center;
    justify-content: left;
    border: none;
    background-color: #0f0f0f;
    border-radius: 10px;
}

.al:hover{
    background-color: rgb(41, 41, 41);
}

.imgicons{
    margin-left: 20px;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.letterts{
    color: white;
    font-size:110%;
    max-width: 100%;
    display: block;
    max-height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.4rem;
}