@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.DivTopBar{
    position: sticky;
    top: 0;
    left: 0;
     height: 56px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 16px;
     z-index: 1;
}

.left{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.center{
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    width: 100%;
}

.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 20px;
    min-width: 225px;
}

.allIconY{
    display: flex;
    align-items: center;
    width: 120px;
    height: 56px;
    margin-left: 2%;
}

.search-button{
    display: flex;
    width: 13%;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    border-left: 0.25px solid;
    border-color: #747474;
    border-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-sizing: border-box;
    background-color: #1f1f1f;
}

.search-input{
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.search-input:focus-visible{
    border: none;
}

.searchvec{
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    stroke: #d4d4d4;
}

.displayButDiv{
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.sidebardisplay{
    display: flex;
    justify-content: top;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
    height:1000px;
    background-color:#0f0f0f;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    left: -10px;
    top:-10px;
}

.things{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accederText{
   color: rgb(58, 133, 247);
}


.displayBut2{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.displayBut{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    stroke: rgb(58, 133, 247);
}

.displayButBut{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: transparent;
}

.displayButBut:hover{
    background-color: rgb(41, 41, 41);
}

.YoutubeIcon{
    height: 20px;
    width: 90px;
}

.microphone{
    width: 20px;
    height: 20px;
}

.microphonebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: transparent;
}

.microphonebutton:hover{
    background-color: rgb(65, 65, 65);
}

.acceder{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 105px;
    height: 34px;
    border: 0.25px solid;
    border-color: white;
    border-radius: 40px;
    justify-content: center;
    
}

.search-container{

    width: 100%;
    height: 40px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    border: 0.25px solid;
    border-radius: 40px;
    border-color:rgb(97, 97, 97);
}

.micro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    background-color: rgb(41, 41, 41);
    border-radius: 40px;
}

.country-code{
    font-size: 9px;
    color:#c9c8c8;
    margin-bottom: 20px;
    margin-left: 5px;
    
}

.topbarphone{
    background-color: #0f0f0f;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 10;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}


@media (max-width: 1366px) {
.displayButDiv{
    justify-content: space-around;
}
.center{
    flex: 0 1 732px;
}
}

@media (max-width: 430px) {
    .DivTopBar{
         display: none;
    }
    .displayBut{
        stroke: white;
    }
    .iycontent{
        display: flex;
        flex-direction: row;
        padding-right: 20px;
        justify-content: space-evenly;
    }
    .topbarphone{
        display: flex;
    }
}