.allbody{
    width: 100%;
}

.allcontent{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ContentInside{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.All-content{
    height: 100%;
    padding-top: 30px;
    padding-left: 2%;
    overflow-y: auto;
    margin-top: 0.5%;
}