.allbody{
    width: 100%;
}

.allcontent{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.ContentInside{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.All-content-inside{
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: calc(100vh - 56px); 
    overflow-y: auto;
    overflow-x: none;
}

.Padding-container{
    display: flex;
    flex-direction: column;    
    height: 100%;
    width: 98.5%;
    padding-top: 1%;
    padding-left: 1.5%;
    margin-top: 0.5%;
}