.all{
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 74px;
    padding: 16px 0 14px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #0f0f0f;
    border-radius: 20%;
}

.all:hover{
    background-color: rgb(41, 41, 41);
}

.imgicon{
    width: 24px;
    height: 24px;
}

.lettert{
    color: white;
    font-size:xx-small;
    max-width: 100%;
    display: block;
    max-height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.4rem;
}