.all2{
    display: flex;
    flex-direction: row;
    margin-left: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width:none;
}

@media (max-width: 430px) {
    .all2{
         display: none;
    }
}